{block content}
<article class="content">
<a n:href="Users:new" class="right right-padded top-padded button iconed"><span class="actionico add"></span> Přidat</a>
<h2>Uživatelé</h2>
<div class="clr"></div>

{control usersGrid}
