{block content}
<article class="content">
<a n:href="Users:" class="button iconed right-padded top-padded"><span class="actionico back"></span>Zpět</a>
<h2>Uživatel</h2>
<div class="clr"></div>
{form modifyForm class => 'viewOnly'}
   <table class="wrapper">
   <tr>
      <td>{label firstname /}</td><td>{input firstname readonly => "readonly"}</td>
   </tr>
   <tr>
      <td>{label lastname /}</td><td>{input lastname readonly => "readonly"}</td>
   </tr>
   <tr>
      <td>{label degree /}</td><td>{input degree readonly => "readonly"}</td>
   </tr>
   <tr>
      <td>{label username /}</td><td>{input username readonly => "readonly"}</td>
   </tr>
   <tr>
      <td>{label phone /}</td><td>{input phone readonly => "readonly"}</td>
   </tr>
   <tr>
      <td>{label email /}</td><td>{input email readonly => "readonly"}</td>
   </tr>
   <tr>
      <td>{label role /}</td><td>{$form->components[role]->items[$form->components[role]->value]}</td>
   </tr>
   </table>
{/form}
</article>
{/block}
