{block content}
<article class="content">
<a n:href="Users:" class="button iconed right-padded top-padded"><span class="actionico back"></span>Zpět</a>
<h2>Historie uživatele</h2>
<div class="clr"></div>

{control historyGrid}
