{block content}
<article class="content">
<a n:href="Users:" class="button iconed right-padded top-padded"><span class="actionico back"></span>Zpět</a>
<h2>Vytvoření uživatele</h2>
<div class="clr"></div>
{form newForm}
      <ul class="errors" n:if="$form->hasErrors()">
      <li n:foreach="$form->errors as $error">{$error}</li>
      </ul>
   <table class="wrapper">
   <tr>
      <td>{label firstname /}</td><td>{input firstname}</td>
   </tr>
   <tr>
      <td>{label lastname /}</td><td>{input lastname}</td>
   </tr>
   <tr>
      <td>{label degree /}</td><td>{input degree}</td>
   </tr>
   <tr>
      <td>{label username /}</td><td>{input username}</td>
   </tr>
   <tr>
      <td>{label password /}</td><td>{input password}</td>
   </tr>
   <tr>
      <td>{label phone /}</td><td>{input phone}</td>
   </tr>
   <tr>
      <td>{label email /}</td><td>{input email}</td>
   </tr>
   <tr>
      <td>{label role /}</td><td>{input role}</td>
   </tr>
   <tr>
      <td>{label send /}</td><td>{input send}</td>
   </tr>
   </table>
{/form}
</article>
{/block}
