{block content}
<article class="content">
<a n:href="Years:" class="button iconed right-padded top-padded"><span class="actionico back"></span>Zpět</a>
<h2>Vytvoření nového ročníku</h2>
<div class="clr"></div>
{form newYearForm}
      <ul class="errors" n:if="$form->hasErrors()">
      <li n:foreach="$form->errors as $error">{$error}</li>
      </ul>
   <table class="wrapper">
   <tr>
      <td>{label rok /}</td><td>{input rok}</td>
   </tr>
   <tr>
      <td>{label send /}</td><td>{input send}</td>
   </tr>
   </table>
{/form}
</article>
{/block}
