{block content}
<article class="content">
<a n:href="Years:add" class="right right-padded top-padded button iconed"><span class="actionico add"></span> Přidat</a>
<h2>Ročníky</h2>
<div class="clr"></div>



{*{control yearsGrid}*}
{if $years}
{foreach $years as $year}
	<table class="years">

	<thead><tr><th><h3> {$year["rok"]}</h3></th><th></th><th><span onclick="expandYear('yearContent_{$year["rok"]|noescape}')" class="button iconed right"><span class="actionico down"></span></span></th></tr></thead>
	
	<tbody id="yearContent_{$year["rok"]}" style="display: none;">
	{if $year["company"]}
		{foreach $year["company"] as $company}
		<tr>
			<td>{$company["nazev"]}</td>
			<td class="border">{$company["login"]}</td>
			<td><a n:href="Companies:history $company['id_firma']" class="right-padded top-padded button iconed"><span class=""></span> Historie</a></td>
		</tr>
		{/foreach}
	{else}
		<tr class="red"><td>Ročník neobsahuje žádnou firmu.</td><td></td><td></td></tr>
	{/if}
	</tbody>
	</table>
{/foreach}
{/if}





{block foot} 
<script type="text/javascript">
    function expandYear(contentId) {
		var elm = document.getElementById(contentId);
		if (elm.style.display == "none") {
			elm.style.display = "table-row-group";
		} else {
			elm.style.display = "none";
		}
	}
</script>
{/block}


