{block content}
<!DOCTYPE html><!-- "' --></script></style></noscript></xmp>
<meta charset="utf-8">
<meta name="robots" content="noindex">
<title>Interní chyba systému</title>

<style>
	#error-body { background: #EEE; width: 700px; margin: 70px auto; padding: 10px 20px }
	#error-body h1 { font: bold 47px/1.5 sans-serif; background: none; color: #333; margin: .6em 0 }
	#error-body p { font: 21px/1.5 Georgia,serif; background: none; color: #333; margin: 1.5em 0 }
	#error-body small { font-size: 70%; color: gray }
</style>

<div id="error-body">
	<h1>Interní chyba systému</h1>
	<p>V systému došlo k neočekávané chybě. Pokud situace přetrvá, kontaktujte správce systému.</p>
</div>

