/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
//@import "blueprint";
@import "sassy-buttons";
@import "susy";

/* Columns */
$total-columns: 12;
$column-width: 60px;
$gutter-width: 10px;
$grid-padding: 10px;

$container-width: 1000px;

$susy: (
  container: $container-width,
  //column-width: 60px,  
  columns: 12,
  gutters: 1/6,
  math: fluid,
  output: float,
  gutter-position: inside,
);
/*
$container-style: static;

*/
/* Variables */
$background-color: #EEEEEE;
$main-color: #1f2f60;
$companion-color: adjust-saturation(#f68712, -5%);

$float-padding: 5px;
$font-size: 14px;
$button-padding: 4px;
$header-button-color: #4ba3cc;
$main-button-color: #4ba3cc;

$mysprite-layout: smart;
@import "icons/*.png";

@mixin left($dist) {
    float: left;
    margin-left: $dist;
}
@mixin right($dist) {
    float: right;
    margin-right: $dist;
}
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*
@mixin sassy-button-small($gradient-style: $sb-gradient-style, $border-radius: $sb-border-radius, $font-size: $sb-font-size, $first-color: $sb-base-color, $second-color: $sb-second-color, $text-color:$sb-text-color, $text-style: $sb-text-style, $auto-states: $sb-pseudo-states, $ie: $sb-ie-support)
  @include sassy-button-structure($border-radius, $font-size, 0.2em 1em)
  @include sassy-button-gradient($gradient-style, $first-color, $second-color, $text-color, $text-style, $auto-states, $ie)
  @include sassy-firefox-fix
*/
/* layout style */
html {
    background: $background-color;
    font-size: $font-size;
    font-family: sans-serif;
}

//input[type="text"], input[type="password"], input[type="submit"] {
input[type="text"], input[type="password"], select, textarea {
    //@include border-radius(5px);
    padding: 3px;
    margin: 3px;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid adjust-lightness(black, 20%);
    @include box-shadow(rgba(0,0,0,0.5) 0px 1px 0px 0px inset);
} 
input[type="submit"] {
    @include sassy-button("simple", 3px, $font-size, $companion-color);
    @include sassy-button-structure(3px, $font-size, 0.1em 0.8em);
}

/* DETAIL PREVIEW */
.viewOnly {
    input[type="text"] {
	background-color: transparent;
	border: 0;
	@include box-shadow(none);
    }
    
}

/* GRID */
.grido {
    .btn-default {
	text-decoration: none;
	@include sassy-button("simple", 3px, $font-size, $companion-color);
	@include sassy-button-structure(3px, $font-size, 0.1em 0.8em);
    }
    .btn-mini {
	text-decoration: none;
	@include sassy-button("simple", 3px, $font-size, $companion-color);
	@include sassy-button-structure(3px, $font-size, 0.1em 0.8em);
    }
}

/* BASIC */
.clr {
    clear: both;
}
.clr-left {
    clear: left;
}
.clr-right {
    clear: right;
}

.left {
    float: left;
}
.right {
    float: right;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-red {
    color: #DD0000;
}
.wide {
    width: 100%;
}

bold, .bold {
    font-weight: bold;
}
strong, .strong {
    font-weight: bold;
}

.inline {
	display: inline;
}

body {
    header {
	width: 100%;
	background-color: $main-color;
	section {
	    //width: 100%;
	    clear: both;
	    padding: $float-padding;
	    padding-bottom: 0;
	    
	    color: white;
	    
	    .top-bar {
		@include container;
		.logo-box {
		    @include span(2 of 12);
		    font-size: 30px;
		    font-weight: bold;
		    a {text-decoration: none;
		       img {
			   height:30px;
		       }
		      }
		}
		.nav {
		    @include span(6 of 12);
		    a {text-decoration: none;
		       font-weight: bold;
		       @include sassy-button("flat", 0px, $font-size, $companion-color);
		       float: left;
		       margin-left: $float-padding;
		       margin-top: $float-padding;
		       &.active {
			   font-style: italic;
		       }
		      }
		}
		.sign-box {
		    @include span(last 4 of 12);
		    text-align: right;
		    margin-bottom: $float-padding;
		    .button {
			text-decoration: none;
			@include sassy-button("simple", $button-padding, $font-size, $companion-color);
		    }
		}
	    }
	}
    }
    main {
	@include container;
	.button {
	    @include sassy-button("simple", $button-padding, $font-size, $companion-color);
	    padding: 0.3em 1em;
	}
    }
    footer {
	clear: both;
	margin-top: 10px;
	padding-top: 4px;
	border-top: 1px solid $main-color;
	text-align: center;
    }

    article {
	@include container;
    }
}

h2, .h2 {
    margin: 10px;
    font-size: 24px;
}

h3, .h3 {
    margin: 5px;
    font-size: 20px;
}

.right-padded {
    @include right($float-padding);
}
.left-padded {
    @include left($float-padding);
}
.top-padded {
    padding-top: $float-padding;
}
.bottom-padded {
    padding-bottom: $float-padding;
}

.iconed {
    span {
	vertical-align: middle;
    }
    text-decoration: none;
}

.actionico {
    width: 16px;
    height: 16px;
    display: inline-block;
    overflow: hidden;
    &.delete { @include icons-sprite(cross); }
    &.modify { @include icons-sprite(pencil); }
    &.add { @include icons-sprite(edit-add-4); }
    &.back { @include icons-sprite(arrow-left-4); }
    &.forward { @include icons-sprite(arrow-right-4); }
    &,down { @include icons-sprite(arrow_down); }
    &.detail { @include icons-sprite(document-preview); }
    &.minus { @include icons-sprite(edit-remove-3); }
    &.tick { @include icons-sprite(tick); }
    &.shuffle-right { @include icons-sprite(go-next-5);
		      width: 24px; height: 24px; }
}

.tableico {
    width: 16px;
    height: 16px;
    display: inline-block;
    overflow: hidden;
    &.tableico- { @include icons-sprite(cross); }
    &.tableico-dokonceno { @include icons-sprite(state-green); }
    &.tableico-jednani { @include icons-sprite(state-red); }
    &.tableico-kontaktovana { @include icons-sprite(state-blue); }
    &.tableico-smlouva { @include icons-sprite(state-orange); }
    &.tableico-bronzove { @include icons-sprite(sponsor-bronze); }
    &.tableico-stribrne { @include icons-sprite(sponsor-silver); }
    &.tableico-zlate { @include icons-sprite(sponsor-gold); }
    &.tableico-nedojednano { @include icons-sprite(nothing16); }
    &.tableico-logo { @include icons-sprite(benefit-logo); }
    &.tableico-ucast { @include icons-sprite(benefit-participation); width: 24px; }
    &.tableico-plakat { @include icons-sprite(benefit-poster); }
    &.tableico-stanek { @include icons-sprite(benefit-stand); }
}

table {
    &.normal {
	tr td, tr th {
	    padding: 2px 5px;
	}
	tr.bottom-padded td {
	    padding-bottom: 10px; 
	}
    }
    &.raised {
	background-color: white;//adjust-lightness($background-color, 10%);
	border: 1px solid adjust-lightness(black, 80%);
	@include box-shadow(rgba(0,0,0,0.2) 1px 1px 12px -1px);
	
    }
    &.stripes {
        tr {
            &.even, &:nth-child(2n) {
			td {
			    background-color: #DDDDDD; } } }
    }
}

.span25p {
    @include span(25%);
}

.stamp {
    display: none;
}

.flash {
    //vertical-align: middle;
    //width: $container-width;
    font-size: 1.2em;
    margin-top: 3px;
    margin-bottom: 5px;
    @include span(100%);
    background-color: adjust-lightness($main-color, 50%);
    .flashico {
	vertical-align: middle;
	width: 24px;
	height: 24px;
	display: inline-block;
	overflow: hidden;
	&.info { @include icons-sprite(dialog-information-3); }
	&.success { @include icons-sprite(dialog-clean); }
	&.error { @include icons-sprite(dialog-error-3); }
	&.warning { @include icons-sprite(dialog-warning-3); }
	
    }
}

ul.error {
    li {
	color: adjust-lightness(red, -10%);
    }
}

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}
@mixin rem($val , $key: font-size) {
    #{$key}: strip-unit( $val ) * 1px;
    #{$key}: ( strip-unit( $val ) / $base-font-size ) * 1rem;
}


.paginator {
    @include span(12 of 12);
    padding-top: $gutter-width;
    text-align:center;
    .current {
        @include sassy-button("flat", 3px, $font-size, adjust-lightness($background-color, -40%));
    }
    a {
        @include sassy-button("simple", 3px, $font-size, #4ba3cc);
	text-decoration: none;
    }
}

#frm-signInForm {
    @include span(5);
    float: none;
    margin: 0 auto;
    padding: 10px 0;
    th {
	@include span(2);
	float:none;
    }
    td {
	@include span(3);
    }
}

.companyForm {
    .send-btn {
	margin-top: $float-padding;
	margin-right: $float-padding;
    }
    .wide {
	@include span(12 of 12); //100%);
    }
    .side-box {
	@include left(5px);
	* {
	    @include vertical-align;
	}
	height: 24px;
    }
    .sponsorship {
	input[type="text"] {
	    @include span(2);
	}
	.benefits {
	    label {
		@include span(2);
	    }
	}
    }
    .addresses {
	@include span(7 of 12);
	textarea {
	    @include span(6);
	}
	input {
	    @include span(4);
	}
	.actionico {
	    margin-top: 5px;
	}
    }
    .details {
	@include span(5 of 12);
	.th {
	    @include span(2);
	    float:none;
	}
	.td {
	    @include span(9);
	}
	table {
	    width: 100%;
	}
	input {
	    width:100%;
	}
    }
    h3 {float:left}
}

table {
    &.years {
	background-color: white;
	width: 100%;
	margin-bottom: 20px;
	.border {
	    border: 1px solid adjust-lightness(black, 80%);
	}
	tr {
	    border: 1px solid adjust-lightness(black, 80%);
	}
	td, th {
	    padding: 5px;
	    width: 50%;
	}
	.red {
	    color: adjust-lightness($companion-color,-10%);
	}
	.right {
	    text-align: right;
	}
    }
}

.history {
    .head, .body {
	border: 1px solid adjust-lightness(black, 80%);
	background-color: white;
    }
    .body {
	border-top: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
    }
    .all {
	margin-bottom: 20px;
    }
    .value {
	padding-left: 20px;
    }
    .address, .contact {
	padding-top: 10px;
    }
    h4 {
	font-weight: bold;
    }
}