{block content}
<article class="content">
{*<a n:href="Documents:add" class="right right-padded top-padded button iconed"><span class="actionico add"></span> Přidat</a>*}
<h2>Dokumenty</h2>

{control documentsGrid}

