{block content}
<article class="content">
<a href="#" onclick="window.history.go(-1); return false;" class="button iconed right-padded top-padded"><span class="actionico back"></span>Zpět</a>
<h2>Úprava dokumentu</h2>
<div class="clr"></div>
{form modifyForm}
      <ul class="errors" n:if="$form->hasErrors()">
      <li n:foreach="$form->errors as $error">{$error}</li>
      </ul>
   <table class="wrapper">
   <tr>
      <td>{label nazev /}</td><td>{input nazev}</td>
   </tr>
   <tr>
      <td>{label popis /}</td><td>{input popis}</td>
   </tr>
   <tr>
      <td>{label typ /}</td><td>{input typ}</td>
   </tr>
   <tr>
      <td>{label send /}</td><td>{input send}</td>
   </tr>
   </table>

{/form}
</article>
{/block}
