{block content}
<article class="content">
<a n:href="Companies:add" class="right right-padded top-padded button iconed"><span class="actionico add"></span> Přidat</a>
<h2>Firmy</h2>
<div class="clr"></div>

{control companiesGrid}

<h2>Statistika</h2>
<h3>Sponzorství</h3>
{foreach $sponsorship as $key => $row}
    {if $iterator->first}<table class="normal raised span25p">{/if}
    <tr><th>{$row["name"]}</th><td>{$row["value"]}</td></tr>
    {if $iterator->last}</table>{/if}
{/foreach}
<div class="clr"></div>
<h3>Benefity</h3>
{foreach $benefits as $key => $row}
    {if $iterator->first}<table class="normal raised span25p">{/if}
    <tr><th>{$row["name"]}</th><td>{$row["value"]}</td></tr>
    {if $iterator->last}</table>{/if}
{/foreach}
<div class="clr"></div>
<h3>Peníze</h3>
{foreach $money as $key => $row}
    {if $iterator->first}<table class="normal raised span25p">{/if}
    <tr><th>{$row["name"]}</th><td>{$row["value"]}</td></tr>
    {if $iterator->last}</table>{/if}
{/foreach}
<div class="clr"></div>
<h3>Stav jednání</h3>
{foreach $negotiationState as $key => $row}
    {if $iterator->first}<table class="normal raised span25p">{/if}
    <tr><th>{$row["name"]}</th><td>{$row["value"]}</td></tr>
    {if $iterator->last}</table>{/if}
{/foreach}