{block content}
<article class="content">
{form updateForm} 
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>

    <div clas="wide top-padded">
      {input nazev class => "h2"}
      {input send class => "button right-padded top-padded send-btn"}
      <a n:href="Companies:" class="button iconed right-padded top-padded send-btn"><span class="actionico back"></span>Seznam</a>
    </div>
    <div class="addresses top-padded">
      <h3>Adresy</h3><div class="clr" />
      {foreach $form["adressesBox"]->components as $id => $adressBox}
        <div {if $id === "ID"}class="stamp" id{else}class{/if}="clonedInputBlock-adresses">
          {input adressesBox-$id-popis}
          {input adressesBox-$id-adresa}
	  <span id="removeBtn-{$id}" class="removeBtn actionico delete top-padded"></span>
	  <div class="clr" />
        </div>
      {/foreach}
      <span class="button iconed addBtn" id="addBtn-adresses"><span class="actionico add"></span> Přidat</span>
    </div>
    <div class="details top-padded">
      <h3>Detaily</h3>
      <table>
        <tr><th>{label ic /}</th><td>{input ic}</td></tr>
	<tr><th>{label dic /}</th><td>{input dic}</td></tr>
	<tr><th>{label url /}</th><td>{input url}</td></tr>
      </table>
    </div>
    <div class="wide top-padded">
      <h3>Kontakty</h3><div class="clr" />
	{foreach $form["usersBox"]->components as $id => $usersBox}
           <div {if $id === "ID"}class="stamp" id{else}class{/if}="clonedInputBlock-users">
           {input usersBox-$id-popis}
           {input usersBox-$id-uzivatel}
	   <span id="removeBtn-{$id}" class="removeBtn actionico delete top-padded"></span>
	   <div class="clr" />
           </div>
      	   {/foreach}
      <span class="button iconed addBtn" id="addBtn-users"><span class="actionico add"></span> Přidat</span>
    </div>
	 <div class="wide sponsorship top-padded">
	   <h3>Sponzorství</h3><div class="side-box">
	   {input sponzorstvi class => "left-padded"}
	   {label penize_prislibeno class => "left-padded" /}
	   {input penize_prislibeno class => "left-padded"}
	   {label penize_prijato class => "left-padded" /}
	   {input penize_prijato class => "left-padded"}
	   </div>
	   <div class="clr" />
	   <div class="benefits">
	     {input benefity}
	   </div>
	 </div>
	 <div class="wide top-padded">
	  <h3>Individuální požadavky</h3>
	  {input pozadavky class=>"wide"}
	 </div>
	 <div class="wide top-padded">
	  <h3>Stav jednání</h3> {input prubeh class=>"left-padded"}
	  {input komunikace class=>"wide"}
	 </div>
{/form}
</article>

<article class="content">
<a n:href="Documents:add $presenter->id_firma" class="button iconed right-padded top-padded"><span class="actionico add"></span>Přidat</a>
<h2>Soubory</h2>
<div class="clr" />
{control documentsGrid}
{/block}

{block foot} 
<script type="text/javascript">
    $(function () {
        $(".addBtn").click(function () {
            var added = $(this);
            var type = added.attr("id").split("-");
            console.log(type);
            var clonedName = "clonedInputBlock-" + type[1];
            console.log(clonedName);
            var clonedBlocks = $("." + clonedName);
            var num = clonedBlocks.length;
            var stamp = $("#" + clonedName);
            var newBlock = stamp.clone(true).removeAttr("id").removeClass("stamp").addClass(clonedName);
            newBlock.children().each(function () {
                var elem = $(this);
                if (elem.attr("id")) {
                    elem.attr("id", elem.attr("id").replace(/ID/, num));
                }
                if (elem.attr("name")) {
                    elem.attr("name", elem.attr("name").replace(/ID/, num));
                }
            });
            $(this).before(newBlock);
        });
        $(".removeBtn").click(function () {
            var removed = $(this)
            var blocks = $(".clonedInputBlock");
            var maxId = blocks.length - 1;
            var removedId = removed.attr("id").split("-");
            removedId = parseInt(removedId[1]);
            removedBlock = removed.parent();
            if (removedId != maxId) { // shift others
                var toShift = removedBlock.nextAll();
                removedBlock.remove();
                toShift.each(function (blockNum) {
                    var block = $(this);
                    block.children().each(function () {
                        var elem = $(this);
                        console.log(removedId + " + " + blockNum);
                        if (elem.attr("id")) {
                            elem.attr("id", elem.attr("id").replace(/\d+/, (removedId + blockNum)));
                        }
                        if (elem.attr("name")) {
                            elem.attr("name", elem.attr("name").replace(/\d+/, (removedId + blockNum)));
                        }
                    });
                });
            } else { // just remove
                removedBlock.remove();
            }
        });
    });
</script>
{/block}
