{block content}
<article class="content">
	<a onclick="history.go(-1)" class="right button iconed right-padded top-padded send-btn"><span class="actionico back"></span>Seznam</a>
	<h2>Historie firmy</h2>
<div class="clr"></div>

<div class="history">
{foreach $history as $h}
<div class="all">
	<div class="head">
	<h3><span>{$h["zmeneno"]|date:'%d.%m.%Y %H:%M'}</span> - <span>{$h["login"]}</span> <span onclick="expandHistory('historyContent_{$h["id_verze"]|noescape}')" class="button iconed right"><span class="actionico down"></span></span></h3>
	</div>

	<div id="historyContent_{$h["id_verze"]|noescape}" class="body" style="display: none;">
    
	<div class="top-padded">
      	<table>
		{*<tr><th><h3>URL: </h3></th><td><a href="{$h["url"]}">{$h["url"]}</a></td></tr>*}
		<tr><th><h3>Firma: </h3></th><td>{$h["nazev"]}</td></tr>
		<tr><th><h3>FIT: </h3></th><td>{$h["login"]}</td></tr>
		</table>
    </div>

	<div class="wide top-padded">
		<h3 class="inline">Kontakty: </h3>
	   <div class="value">
		{foreach $h[users] as $c}
			<div class="contact">
			<h4>{$c[popis]}:</h4>
			<div>{$c[titul]} {$c[jmeno]} {$c[prijmeni]}</div>
			<h4 class="inline">Mail: </h4>{$c[email]}
			<div><h4 class="inline">Telefon: </h4>{$c[telefon]}</div>
			</div>
		{/foreach}
		</div>
	</div>

	<div class="wide top-padded">
		<h3 class="inline">Adresy: </h3>
	   <div class="value">
		{foreach $h["addresses"] as $a}
			<div class="address">
			<h4>{$a[popis]}:</h4>
			<div>{$a[adresa]}</div>
			</div>
		{/foreach}
		</div>
	</div>

    <div class="top-padded">
      	<h3>Sponzorství: <span class="tableico tableico-{$h[sponzorstvi]}"></span></h3>
    </div>

	<div class="wide top-padded">
		<h3 class="inline">Benefity: </h3>
	   <span class="benefits">
		{foreach $h[benefity] as $b}
			<span class="tableico tableico-{$b}"/>
		{/foreach}
		</span>
	</div>

	 <div class="wide top-padded">
	  <h3>Individuální požadavky: </h3>
	  <div class="value">
		{$h["pozadavky"]|texy}
		</div>
	 </div>

	<div class="wide top-padded">
	  <h3>Stav jednání: </h3>
	  <div class="value">
			{$h[prubeh]}
		</div>
	</div>

	<div class="wide top-padded">
	  <h3>Finance: </h3>
	  <div class="value">
			<h4 class="inline">Přislíbeno: </h4>{$h[penize_prislibeno]|number:0:',':' '} Kč
		</div>
		  <div class="value">
			<h4 class="inline">Přijato: </h4>{$h[penize_prijato]|number:0:',':' '} Kč
		</div>
	</div>

	<div class="wide top-padded">
	  <h3>Komunikace: </h3> 
		<div class="value">
	  		{$h["komunikace"]|texy}
		</div>
	</div>

</div>
</div>
{/foreach}
</div>

</article>
{/block}


{block foot} 
<script type="text/javascript">
    function expandHistory(contentId) {
		var elm = document.getElementById(contentId);
		if (elm.style.display == "none") {
			elm.style.display = "block";
		} else {
			elm.style.display = "none";
		}
	}
</script>
{/block}

