{block content}
<article class="content">
{*control updateForm*}
{form showForm class => 'companyForm viewOnly'} 
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>

    <div clas="wide top-padded">
    {dump $form->components}
      <h2 class="left">{$form->components["nazev"]->value}</h2>
      <div class="clr" />
    </div>
    <div class="addresses top-padded">
      <h3>Adresy</h3><div class="clr" />
      {foreach $form["adressesBox"]->components as $id => $adressBox}
        <div {if $id === "ID"}class="stamp" id{else}class{/if}="clonedInputBlock">
          {input adressesBox-$id-popis}
	  <div>
          {$form["adressesBox"]->components[$id]->components["adresa"]->value|escape|nl2br|noescape}
	  </div>
	  <div class="clr" />
        </div>
      {/foreach}
    </div>
    <div class="details top-padded">
      <h3>Detaily</h3>
      <table>
        <tr><th>{label ic /}</th><td>{input ic}</td></tr>
	<tr><th>{label dic /}</th><td>{input dic}</td></tr>
	<tr><th>{label url /}</th><td>{input url}</td></tr>
      </table>
    </div>
    <div class="wide top-padded">
      <h3>Kontakty</h3><div class="clr" />
	{foreach $form["usersBox"]->components as $id => $usersBox}
           <div {if $id === "ID"}class="stamp" id{else}class{/if}="clonedInputBlock">
           {input usersBox-$id-popis}
	   {var $select = $form["usersBox"]->components[$id]->components["uzivatel"]}
	   <span>{$select->value != NULL ? $select->items[$select->value]}</span>
	   <div class="clr" />
           </div>
      	   {/foreach}
    </div>
	 <div class="wide sponsorship top-padded">
	   <h3>Sponzorství</h3><div class="side-box">
	   <span class="left-padded">{$form->components[sponzorstvi]->items[$form->components[sponzorstvi]->value]}</span>
	   {label penize_prislibeno class => "left-padded" /}
	   {input penize_prislibeno class => "left-padded", readonly => "readonly"}
	   {label penize_prijato class => "left-padded" /}
	   {input penize_prijato class => "left-padded", readonly => "readonly"}
	   </div>
	   <div class="clr" />
	   <div class="benefits">
	     {input benefity}
	   </div>
	 </div>
	 <div class="wide top-padded">
	  <h3>Individuální požadavky</h3>
	  <div class="clr" />
	  {$form->components["pozadavky"]->value|texy}
	 </div>
{/form}
</article>
