{block content}
<article class="content">
{*control updateForm*}
{form showForm class => 'companyForm viewOnly'} 
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>

    <div clas="wide top-padded">
      <h2 class="left">{$form->components["nazev"]->value}</h2>
      <a n:href="Companies:edit $presenter->id_firma" class="button iconed right-padded top-padded"><span class="actionico modify"></span>Editovat</a>
      <a n:href="Companies:" class="button iconed right-padded top-padded"><span class="actionico back"></span>Seznam</a>
      <div class="clr" />
    </div>
    <div class="addresses top-padded">
      <h3>Adresy</h3><div class="clr" />
      {foreach $form["adressesBox"]->components as $id => $adressBox}
        <div {if $id === "ID"}class="stamp" id{else}class{/if}="clonedInputBlock">
          {input adressesBox-$id-popis}
	  {$form["adressesBox"]->components[$id]->components["adresa"]->value|escape|nl2br|noescape}
	  <div class="clr" />
        </div>
      {/foreach}
    </div>
    <div class="details top-padded">
      <h3>Detaily</h3>
      <table>
        <tr><th>{label ic /}</th><td>{input ic}</td></tr>
	<tr><th>{label dic /}</th><td>{input dic}</td></tr>
	<tr><th>{label url /}</th><td>{input url}</td></tr>
      </table>
    </div>
    <div class="wide top-padded">
      <h3>Kontakty</h3><div class="clr" />
	{foreach $form["usersBox"]->components as $id => $usersBox}
           <div {if $id === "ID"}class="stamp" id{else}class{/if}="clonedInputBlock">
           {input usersBox-$id-popis}
	   {var $select = $form["usersBox"]->components[$id]->components["uzivatel"]}
	   <span>{$select->value != NULL ? $select->items[$select->value]}</span>
	   <div class="clr" />
           </div>
      	   {/foreach}
    </div>
	 <div class="wide sponsorship top-padded">
	   <h3>Sponzorství</h3><div class="side-box">
	   <span class="left-padded">{$form->components[sponzorstvi]->items[$form->components[sponzorstvi]->value]}</span>
	   {label penize_prislibeno class => "left-padded" /}
	   {input penize_prislibeno class => "left-padded", readonly => "readonly"}
	   {label penize_prijato class => "left-padded" /}
	   {input penize_prijato class => "left-padded", readonly => "readonly"}
	   </div>
	   <div class="clr" />
	   <div class="benefits">
	     {input benefity}
	   </div>
	 </div>
	 <div class="wide top-padded">
	  <h3>Individuální požadavky</h3>
	  <div class="clr" />
	  {$form->components["pozadavky"]->value|texy}
	 </div>
	 <div class="wide top-padded">
	  <h3>Stav jednání</h3> <div class="side-box">
	  	   <span class="left-padded">{$form->components[prubeh]->items[$form->components[prubeh]->value]}</span></DIV>
	  <div class="clr" />
	  {$form->components["komunikace"]->value|texy}
	 </div>
{/form}
</article>

<article class="content">
<a n:href="Documents:add $presenter->id_firma" class="button iconed right-padded top-padded"><span class="actionico add"></span>Přidat</a>
<h2>Soubory</h2>
<div class="clr" />
{control documentsGrid}
{/block}

{block foot} 
<script type="text/javascript">
    $(function () {
    	/* TODO uprava javascriptu */
        $("#addBtn").click(function () {
            var clonedBlocks = $(".clonedInputBlock");
            var num = clonedBlocks.length;
            var stamp = $("#clonedInputBlock");
            var newBlock = stamp.clone(true).removeAttr("id").removeClass("stamp").addClass("clonedInputBlock");
            newBlock.children().each(function () {
                var elem = $(this);
                if (elem.attr("id")) {
                    elem.attr("id", elem.attr("id").replace(/ID/, num));
                }
                if (elem.attr("name")) {
                    elem.attr("name", elem.attr("name").replace(/ID/, num));
                }
            });
            $(this).before(newBlock);
        });
        $(".removeBtn").click(function () {
            var removed = $(this)
            var blocks = $(".clonedInputBlock");
            var maxId = blocks.length - 1;
            var removedId = removed.attr("id").split("-");
            removedId = parseInt(removedId[1]);
            removedBlock = removed.parent();
            if (removedId != maxId) { // shift others
                var toShift = removedBlock.nextAll();
                removedBlock.remove();
                toShift.each(function (blockNum) {
                    var block = $(this);
                    block.children().each(function () {
                        var elem = $(this);
                        console.log(removedId + " + " + blockNum);
                        if (elem.attr("id")) {
                            elem.attr("id", elem.attr("id").replace(/\d+/, (removedId + blockNum)));
                        }
                        if (elem.attr("name")) {
                            elem.attr("name", elem.attr("name").replace(/\d+/, (removedId + blockNum)));
                        }
                    });
                });
            } else { // just remove
                removedBlock.remove();
            }
        });
    });
</script>
{/block}
