{if !isset($menuParent)}
	{var $menuParent = $menu}
{/if}

<div class="nav" n:block="branch" n:if="$menuParent->hasVisualItems()">
    <a n:foreach="$menuParent->getItems() as $item" n:if="$item->isVisual() && $item->isAllowed()"
    href="{$item->getLink()}" n:class="$item->isActive() ? active">{$item->getTranslatedTitle()}</a>
</div>