{block content}
<article class="content">
{if $user->isLoggedIn()}
  <p>Jste přihlášen v následujících rolích:</p>
  </br>
  <ul id="homepageList">
  {foreach $user->getRoles() as $role}
    {$role}
  {/foreach}
  </ul>
{else}
  <article class="content">
  {control signInForm}
{/if}
{/block}
