{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset title}{include title|striptags} | {/ifset}Excel</title>
	<link href="{$basePath}/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{$basePath}/css/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if IE]>
	<link href="{$basePath}/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<link href="{$basePath}/css/grido.css" media="all" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
<header>
  <section>
    <div class="top-bar">
      <div class="logo-box"><a n:href="Homepage:"><img src="{$basePath}/images/excel-at-fit-logo.png"></a></div>
      {control menu}
      <div class="sign-box">
        {if $user->isLoggedIn()}
      	  {$user->identity->login}
	  <a n:href="Sign:out" rel="nofollow" class="button">Odhlásit</a>
        {/if}
      </div>
    </div>
  </section>
</header>
<main>
  <div n:foreach="$flashes as $flash" class="flash"><span class="flashico {$flash->type}"></span> {$flash->message}</div>
  <div class="clr"></div>
  {include #content}
  <footer>Designed by ITSySol</footer>
</main>
{block scripts}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
<script src="{$basePath}/js/main.js"></script>
<script src="{$basePath}/js/grido.js"></script>
{/block}
{block foot}{/block}
</body>
</html>
